

[data-theme="dark"] {
  --background-color: #3F3F3F;
  --text-color: #fff;
}
body{
	background-color: whitesmoke;
	margin-top: 30px;
	box-sizing: border-box;
}

.dark-mode {
  background-color: black;
  color: white;
}
.light-mode {
        background-color: whitesmoke;
        color: black;
    }

a{
	text-decoration: none;
}

aside h2{
	font-size: 18px;
}

aside h1 {
	font-size: 25px;

}
aside h3 {
	font-size: 15px;

}